# Notebook 3 – First baseline model

Purpose:
- Load truth data from Hopsworks feature store.
- Define feature set and train the first baseline model.
- Run predictions on a holdout set and evaluate (e.g., MAE/MSE).
- Log model version and metrics (Hopsworks/MLflow/file).
- Persist the trained model so Notebook 4 can load it.

Notes:
- Document chosen model type (e.g., XGBoost, RandomForest, LSTM) and tested hyperparameters.
- Record performance and next experiments to try.

In [1]:
from pathlib import Path
import os
import sys
import datetime
import pandas as pd
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from xgboost import plot_importance
from sklearn.metrics import mean_squared_error, r2_score
import json
import warnings
warnings.filterwarnings("ignore")

from dotenv import load_dotenv
import hopsworks

# 1. Find project root (one level up from notebooks/)
root_dir = Path("..").resolve()

# 2. Add project root to PYTHONPATH so we can import the src package
if str(root_dir) not in sys.path:
    sys.path.append(str(root_dir))

# 3. Load .env from project root
env_path = root_dir / ".env"
load_dotenv(env_path)

# 4. Load settings and utility functions (after adjusting PYTHONPATH)
from src.config import ElectricitySettings
from src import util

settings = ElectricitySettings()

# 5. Log in to Hopsworks and get feature store
project = hopsworks.login(engine="python")
fs = project.get_feature_store()

print("Successfully logged in to Hopsworks project:", settings.HOPSWORKS_PROJECT)

ElectricitySettings initialized
2025-12-12 19:58:15,285 INFO: Initializing external client
2025-12-12 19:58:15,285 INFO: Base URL: https://eu-west.cloud.hopsworks.ai:443
2025-12-12 19:58:16,118 INFO: Python Engine initialized.

Logged in to project, explore it here https://eu-west.cloud.hopsworks.ai:443/p/127
Successfully logged in to Hopsworks project: ScalableProject

In [2]:
secrets = hopsworks.get_secrets_api()
area = secrets.get_secret("ELECTRICITY_LOCATION_JSON").value
area = json.loads(area)
PRICE_AREA = area['price_area']
CITY = area['city']
LATITUDE = area['latitude']
LONGITUDE = area['longitude']

In [3]:
# Get the feature groups    
electricity_prices_fg = fs.get_feature_group('electricity_prices', version=1)
weather_hourly_fg = fs.get_feature_group('weather_hourly', version=1)

In [4]:
# Select features for training data and join on primary key (price_area, unix_time)
price_feats = electricity_prices_fg.select([
    "price_area",
    "unix_time",
    "price_sek",
])

weather_feats = weather_hourly_fg.select([
    "price_area",
    "unix_time",
    "date",
    "hour",
    "temperature_2m", "apparent_temperature",
    "precipitation", "rain", "snowfall",
    "cloud_cover",
    "wind_speed_10m", "wind_speed_100m",
    "wind_direction_10m", "wind_direction_100m",
    "wind_gusts_10m",
    "surface_pressure",
])

# Filter to target price area
price_feats = price_feats.filter(electricity_prices_fg["price_area"] == PRICE_AREA.lower())
weather_feats = weather_feats.filter(weather_hourly_fg["price_area"] == PRICE_AREA.lower())

# Join on PK
features = weather_feats.join(price_feats, on=["price_area", "unix_time"])

In [5]:
feature_view = fs.get_or_create_feature_view(
    name=f"electricity_prices_fv_{PRICE_AREA.lower()}",
    description=f"weather + electricity prices features for {PRICE_AREA}",
    version=1,
    labels=["price_sek"],
    query=features,
)

2025-12-12 19:58:18,152 WARNING: Ambiguous features detected during query construction.The feature `price_area` is present in feature groups ['electricity_prices version 1', 'weather_hourly version 1']. The feature `unix_time` is present in feature groups ['electricity_prices version 1', 'weather_hourly version 1']. Automatically prefixing features selected using these feature groups with the feature group name.
Feature view created successfully, explore it at
https://eu-west.cloud.hopsworks.ai:443/p/127/fs/74/fv/electricity_prices_fv_se3/version/1

In [6]:
df = feature_view.get_batch_data().sort_values("date")
t_min, t_max = df["date"].min(), df["date"].max()
test_start = t_min + (t_max - t_min) * 0.8  # 80 % första delen blir train

# 2) Låt feature view göra splitten
X_train, X_test, y_train, y_test = feature_view.train_test_split(
    test_start=test_start
)

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (2.13s)
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.62s)
2025-12-12 19:58:48,832 INFO: Computing insert statistics
2025-12-12 19:58:48,845 INFO: Computing insert statistics
2025-12-12 19:58:49,735 WARNING: VersionWarning: Incremented version to `1`.

In [7]:
X_train

,price_area,unix_time,date,hour,temperature_2m,apparent_temperature,precipitation,rain,snowfall,cloud_cover,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,surface_pressure,electricity_prices_price_area,electricity_prices_unix_time
0,se3,1765321200000,2025-12-09 23:00:00,23,4.4715,2.268217,0.0,0.0,0.0,100.0,5.315336,9.553576,208.300659,222.709366,11.159999,1006.049255,se3,1765321200000
1,se3,1765382400000,2025-12-10 16:00:00,16,8.1715,3.818823,0.0,0.0,0.0,19.0,22.796841,40.188805,248.702576,250.915741,47.160000,999.106323,se3,1765382400000
2,se3,1765483200000,2025-12-11 20:00:00,20,5.0715,2.535372,0.0,0.0,0.0,100.0,9.000000,18.080818,360.000000,9.743584,16.559999,1005.257812,se3,1765483200000
4,se3,1765335600000,2025-12-10 03:00:00,3,3.4215,0.702617,0.0,0.0,0.0,100.0,6.842368,11.409785,181.507401,186.340103,19.080000,1004.841919,se3,1765335600000
5,se3,1765342800000,2025-12-10 05:00:00,5,4.2215,1.072550,0.1,0.1,0.0,100.0,10.934166,20.969805,159.775055,168.111359,20.160000,1003.454102,se3,1765342800000
6,se3,1765353600000,2025-12-10 08:00:00,8,5.8715,2.037219,0.4,0.4,0.0,100.0,19.011953,33.706169,161.221878,165.147369,36.000000,1000.479431,se3,1765353600000
7,se3,1765422000000,2025-12-11 03:00:00,3,6.3715,2.883080,0.0,0.0,0.0,100.0,15.676542,30.007679,235.762482,239.743652,30.599998,998.889099,se3,1765422000000
8,se3,1765479600000,2025-12-11 19:00:00,19,5.3215,2.988918,0.0,0.0,0.0,80.0,7.895416,16.557064,335.772278,348.079285,14.040000,1003.565186,se3,1765479600000
9,se3,1765328400000,2025-12-10 01:00:00,1,3.3715,0.321448,0.0,0.0,0.0,100.0,9.423820,14.602204,208.523026,210.358032,20.519999,1005.738708,se3,1765328400000
10,se3,1765360800000,2025-12-10 10:00:00,10,7.0215,3.811974,0.1,0.1,0.0,100.0,16.451052,30.047060,197.840302,204.415543,34.919998,998.296875,se3,1765360800000
11,se3,1765418400000,2025-12-11 02:00:00,2,6.7715,3.359323,0.0,0.0,0.0,28.0,15.299999,28.926283,233.130020,238.485977,36.719997,999.092224,se3,1765418400000
12,se3,1765497600000,2025-12-12 00:00:00,0,4.6215,1.515947,0.0,0.0,0.0,100.0,11.367109,20.596436,349.045959,350.949341,22.680000,1008.942627,se3,1765497600000
14,se3,1765357200000,2025-12-10 09:00:00,9,6.2215,2.549692,0.2,0.2,0.0,100.0,18.356470,32.711006,168.690109,172.092926,37.799999,999.286255,se3,1765357200000
15,se3,1765378800000,2025-12-10 15:00:00,15,8.4215,4.273539,0.0,0.0,0.0,76.0,22.485596,39.809311,250.839737,253.449570,46.079998,998.610229,se3,1765378800000
16,se3,1765400400000,2025-12-10 21:00:00,21,7.1215,2.733763,0.0,0.0,0.0,1.0,20.778112,37.416626,252.349792,255.228333,42.839996,1000.093201,se3,1765400400000
17,se3,1765425600000,2025-12-11 04:00:00,4,6.3715,2.707200,0.0,0.0,0.0,94.0,16.521803,30.403484,246.227646,250.277634,32.760002,998.889099,se3,1765425600000
18,se3,1765450800000,2025-12-11 11:00:00,11,7.3715,4.513423,0.0,0.0,0.0,100.0,12.093535,22.845821,255.343201,260.018219,28.080000,999.397644,se3,1765450800000
19,se3,1765494000000,2025-12-11 23:00:00,23,5.1215,2.229656,0.0,0.0,0.0,100.0,11.367109,20.583847,349.045959,355.486084,21.240000,1007.651428,se3,1765494000000
20,se3,1765515600000,2025-12-12 05:00:00,5,3.7715,0.841933,0.0,0.0,0.0,88.0,8.473393,15.710607,347.735229,355.399994,16.559999,1012.723083,se3,1765515600000
23,se3,1765324800000,2025-12-10 00:00:00,0,3.6215,0.969721,0.0,0.0,0.0,100.0,7.329338,11.700000,204.676849,210.510162,12.959999,1005.841370,se3,1765324800000
24,se3,1765407600000,2025-12-10 23:00:00,23,6.5715,2.496110,0.0,0.0,0.0,20.0,18.845062,34.261051,245.148438,248.422119,39.599998,1000.386658,se3,1765407600000
25,se3,1765432800000,2025-12-11 06:00:00,6,6.7715,3.395236,0.0,0.0,0.0,96.0,15.948040,28.915081,253.610382,257.780701,34.919998,998.892761,se3,1765432800000
26,se3,1765490400000,2025-12-11 22:00:00,22,5.3715,2.802068,0.0,0.0,0.0,100.0,9.519600,17.615187,344.649811,348.804932,17.280001,1006.357605,se3,1765490400000
29,se3,1765465200000,2025-12-11 15:00:00,15,6.3715,4.299522,0.1,0.1,0.0,41.0,7.309419,15.405519,279.926178,300.159973,13.320000,1000.185425,se3,1765465200000
30,se3,1765472400000,2025-12-11 17:00:00,17,5.2215,2.833135,0.0,0.0,0.0,100.0,8.131936,19.023878,297.699371,302.637482,15.119999,1001.769226,se3,1765472400000
31,se3,1765476000000,2025-12-11 18:00:00,18,5.4715,3.184882,0.0,0.0,0.0,72.0,7.653705,17.208603,311.185822,322.650574,14.400000,1002.370117,se3,1765476000000
33,se3,1765368000000,2025-12-10 12:00:00,12,8.8715,5.171446,0.0,0.0,0.0,98.0,22.268410,39.413013,249.660690,253.551315,43.560001,997.617432,se3,1765368000000
34,se3,1765458000000,2025-12-11 13:00:00,13,6.7715,4.733207,1.1,1.1,0.0,100.0,7.938387,17.017380,273.900421,280.359009,15.480000,999.491089,se3,1765458000000
35,se3,1765461600000,2025-12-11 14:00:00,14,6.5715,4.542916,0.7,0.7,0.0,100.0,7.555712,16.746773,282.380737,295.463318,15.119999,999.788330,se3,1765461600000
36,se3,1765504800000,2025-12-12 02:00:00,2,3.9215,0.716676,0.0,0.0,0.0,100.0,10.993271,19.738539,2.815504,6.282399,23.039999,1010.530945,se3,1765504800000
39,se3,1765404000000,2025-12-10 22:00:00,22,6.8715,2.671834,0.0,0.0,0.0,28.0,19.488274,35.350185,248.886429,252.210785,42.119999,1000.489563,se3,1765404000000
40,se3,1765332000000,2025-12-10 02:00:00,2,3.3215,0.329370,0.0,0.0,0.0,100.0,8.777653,13.379461,195.461273,197.216156,19.799999,1005.239929,se3,1765332000000
41,se3,1765454400000,2025-12-11 12:00:00,12,7.0715,4.829593,0.4,0.4,0.0,100.0,9.255571,18.665401,256.504242,263.354828,23.400000,999.195129,se3,1765454400000
42,se3,1765512000000,2025-12-12 04:00:00,4,3.8215,0.919298,0.0,0.0,0.0,100.0,8.473393,15.876775,347.735229,356.099579,18.000000,1012.125427,se3,1765512000000
43,se3,1765393200000,2025-12-10 19:00:00,19,7.7215,3.188138,0.0,0.0,0.0,5.0,22.268410,39.505795,249.660690,252.225403,46.439999,999.500793,se3,1765393200000
44,se3,1765440000000,2025-12-11 08:00:00,8,7.1215,4.223221,0.0,0.0,0.0,100.0,12.976239,24.536184,246.279587,252.495438,26.280001,999.096008,se3,1765440000000
45,se3,1765468800000,2025-12-11 16:00:00,16,5.1715,2.822091,0.0,0.0,0.0,62.0,7.792150,17.950432,276.632416,291.161316,13.320000,1000.970886,se3,1765468800000
46,se3,1765508400000,2025-12-12 03:00:00,3,3.7715,0.748914,0.0,0.0,0.0,100.0,9.361730,17.571909,1.101687,6.469724,21.599998,1011.327087,se3,1765508400000
50,se3,1765339200000,2025-12-10 04:00:00,4,3.6715,0.773293,0.0,0.0,0.0,100.0,8.383054,16.404707,165.068527,176.855103,16.559999,1004.246216,se3,1765339200000
51,se3,1765396800000,2025-12-10 20:00:00,20,7.3715,2.976583,0.0,0.0,0.0,7.0,21.177366,37.706455,250.640915,253.641251,45.360001,999.796509,se3,1765396800000
52,se3,1765447200000,2025-12-11 10:00:00,10,7.4215,4.276877,0.0,0.0,0.0,100.0,14.058450,25.687078,256.675446,261.131805,28.799999,999.597473,se3,1765447200000
53,se3,1765519200000,2025-12-12 06:00:00,6,2.7715,-0.414245,0.0,0.0,0.0,100.0,8.905908,16.546299,345.963715,351.869995,16.559999,1014.009216,se3,1765519200000
54,se3,1765346400000,2025-12-10 06:00:00,6,4.7715,1.386640,0.7,0.7,0.0,100.0,14.248452,26.980793,153.758713,161.323196,27.359999,1002.263184,se3,1765346400000
55,se3,1765375200000,2025-12-10 14:00:00,14,8.8715,4.913580,0.0,0.0,0.0,100.0,22.657131,39.991203,252.428650,255.400787,45.719997,998.315430,se3,1765375200000
56,se3,1765386000000,2025-12-10 17:00:00,17,7.7215,3.304870,0.0,0.0,0.0,62.0,22.335236,39.630260,246.740753,250.083496,46.799999,999.101929,se3,1765386000000
57,se3,1765436400000,2025-12-11 07:00:00,7,6.7215,3.693125,0.0,0.0,0.0,100.0,13.638489,25.568237,247.496429,253.223404,30.960001,999.091980,se3,1765436400000
58,se3,1765501200000,2025-12-12 01:00:00,1,4.3215,1.069606,0.0,0.0,0.0,100.0,11.705537,20.699999,358.237640,360.000000,23.039999,1009.737244,se3,1765501200000
59,se3,1765522800000,2025-12-12 07:00:00,7,2.5215,-0.626164,0.0,0.0,0.0,100.0,8.528657,16.740000,352.725067,360.000000,17.280001,1015.003479,se3,1765522800000
62,se3,1765364400000,2025-12-10 11:00:00,11,7.9715,4.435045,0.0,0.0,0.0,100.0,19.935354,35.302494,230.128235,235.175446,37.079998,997.907776,se3,1765364400000
63,se3,1765371600000,2025-12-10 13:00:00,13,9.0215,5.239298,0.0,0.0,0.0,100.0,22.655699,39.708263,250.989136,253.947510,45.000000,997.918091,se3,1765371600000
64,se3,1765411200000,2025-12-11 00:00:00,0,6.3715,2.430045,0.0,0.0,0.0,71.0,18.279530,33.729713,244.949051,249.050217,38.160000,999.985962,se3,1765411200000
65,se3,1765429200000,2025-12-11 05:00:00,5,6.4715,2.724278,0.0,0.0,0.0,100.0,16.947742,30.509867,247.520523,251.778748,34.200001,998.790283,se3,1765429200000
66,se3,1765350000000,2025-12-10 07:00:00,7,5.6215,2.097712,1.4,1.4,0.0,100.0,16.507088,30.345354,154.832169,162.747253,30.960001,1001.374451,se3,1765350000000
67,se3,1765389600000,2025-12-10 18:00:00,18,7.7715,3.212165,0.0,0.0,0.0,77.0,22.732082,40.138386,249.125275,252.783844,46.799999,999.301697,se3,1765389600000
68,se3,1765414800000,2025-12-11 01:00:00,1,6.8715,3.028874,0.0,0.0,0.0,59.0,18.033268,32.995525,242.667725,247.211792,37.799999,999.791504,se3,1765414800000
69,se3,1765443600000,2025-12-11 09:00:00,9,7.4215,4.372987,0.0,0.0,0.0,99.0,13.929953,25.575840,244.759506,249.396683,27.359999,999.298279,se3,1765443600000
70,se3,1765486800000,2025-12-11 21:00:00,21,5.5215,3.141765,0.0,0.0,0.0,100.0,8.513448,15.986595,346.551361,352.234924,16.919998,1005.960266,se3,1765486800000

In [12]:
cat_cols = [c for c in X_train.columns if 'price_area' in c]
X_features = X_train.drop(columns=['date'] + cat_cols)
X_test_features = X_test.drop(columns=['date'] + cat_cols)

In [13]:
y_train

    electricity_prices_price_sek
0                        0.43914
1                        0.44037
2                        0.56815
4                        0.29683
5                        0.43282
6                        0.52634
7                        0.28789
8                        0.65474
9                        0.30064
10                       0.45554
11                       0.26675
12                       0.44054
14                       0.49486
15                       0.44808
16                       0.16404
17                       0.33326
18                       0.52706
19                       0.46638
20                       0.67324
23                       0.35337
24                       0.20037
25                       0.46761
26                       0.44001
29                       0.69938
30                       0.66402
31                       0.66367
33                       0.45186
34                       0.58237
35                       0.68668
36                       0.51556
39                       0.14373
40                       0.29732
41                       0.50484
42                       0.56745
43                       0.29231
44                       0.53640
45                       0.69306
46                       0.48718
50                       0.33395
51                       0.23477
52                       0.49722
53                       1.02855
54                       0.48947
55                       0.45932
56                       0.42234
57                       0.51654
58                       0.44734
59                       1.03437
62                       0.46493
63                       0.44165
64                       0.20178
65                       0.43222
66                       0.51578
67                       0.35816
68                       0.21511
69                       0.49952
70                       0.49024

In [14]:
# Creating an instance of the XGBoost Regressor
xgb_regressor = XGBRegressor()

# Fitting the XGBoost Regressor to the training data
xgb_regressor.fit(X_features, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [15]:
# Predicting target values on the test set
y_pred = xgb_regressor.predict(X_test_features)

# Calculating Mean Squared Error (MSE) using sklearn
mse = mean_squared_error(y_test.iloc[:,0], y_pred)
print("MSE:", mse)

# Calculating R squared using sklearn
r2 = r2_score(y_test.iloc[:,0], y_pred)
print("R squared:", r2)

2025-12-12 20:13:45,048 WARNING: DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.

2025-12-12 20:13:45,049 WARNING: DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.

MSE: 0.055522442
2025-12-12 20:13:45,052 WARNING: DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.

2025-12-12 20:13:45,052 WARNING: DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.

R squared: -4.584106805186575